.Body{
    width: 100vw;
    height: 100vh;
    .Header{
        background-color: grey;
        width: 100vw;
        height: 70px;
    }
    .Remaining{
        width: 100vw;
        height: 1000px;
        background-color: rgb(49, 49, 49);
    }
}